.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*.DS_Store
**/.DS_Store

.urs_cookies
*.urs_cookies
**/.urs_cookies

R/ahg_estimates.R
R/scraps.R

runners/cs_runner/
tmp_plots.R

scraps.R
general_visuals.R