.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*.DS_Store
**/.DS_Store

.urs_cookies
*.urs_cookies
**/.urs_cookies

R/scraps.R

runners/cs_runner/
tmp_plots.R

scraps.R
scraps2.R
scraps3.R
general_visuals.R
scrap.R
braids_tmp.R
braids2.R


