.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*.DS_Store
**/.DS_Store

.urs_cookies
*.urs_cookies
**/.urs_cookies

R/scraps.R

runners/cs_runner/
tmp_plots.R

scraps.R
scraps2.R
scraps3.R

# TODO: remove paper related scripts
general_visuals.R
visual_utils.R
paper.R
validity_scoring.R
transect_extensions_viz.R
ras_comp.R
cs_area2.R

scrap.R
braids_tmp.R
braids2.R
braids3.R

